AWSTemplateFormatVersion: "2010-09-09"

Description: Amazon Transcribe Post Call Analytics - PCA UI

Parameters:
  AdminUsername:
    Type: String
    Default: "admin"
    Description: (Required) Username for admin user
    
  AdminEmail:
      Type: String
      Description: >-
        (Required) Email address for the admin user. Will be used for logging in and for setting the admin password. 
        This email will receive the temporary password for the admin user.
      AllowedPattern: ".+\\@.+\\..+"
      ConstraintDescription: Must be valid email address eg. johndoe@example.com

  AudioBucket:
    Type: String
    Default: InputBucketName
    Description: S3 bucket containing audio files. Audio object names must be prefixed with nci/

  AudioBucketPrefix:
    Type: String
    Description: Prefix/Folder that holds the audio files to be ingested into the system

  DataBucket:
    Type: String
    Default: OutputBucketName
    Description: S3 bucket containing Transcribe output. JSON object names must be prefixed with parseFiles/

  DataPrefix:
    Type: String
    Default: OutputBucketParsedResults
    Description: Prefix that parsed transcription output is stored under in DataBucket

  MainStackName:
    Type: String
    Default: ""

  Environment:
    Type: String

  GenAIQueryType:
    Default: 'DISABLED'
    Type: String
    AllowedValues:
      - 'DISABLED'
      # - 'SAGEMAKER'
      - 'BEDROCK'
      - 'LAMBDA'
      - 'ANTHROPIC'
    Description: This is what model to use for GenAIQuery.
  
  GenAIQueryBedrockModelId:
    Type: String
    Default: anthropic.claude-v2
    AllowedValues:
      - amazon.titan-tg1-large
      - anthropic.claude-v1
      - anthropic.claude-instant-v1
      - anthropic.claude-v2
    Description: (Optional) If 'GenAIQuery' is BEDROCK, which Bedrock model to use. (Bedrock preview access only)

  LLMThirdPartyApiKey:
    Type: String
    Description: >
      Secrets manager secret Arn containing the third party LLM API key
    Default: ''

  FetchTranscriptArn:
    Type: String
    AllowedPattern: '^(|arn:aws:lambda:.*)$'
    Description: Arn to use for the GenAIQuery to fetch transcript

  SummarizerArn:
    Type: String
    AllowedPattern: '^(|arn:aws:lambda:.*)$'
    Description: Arn to use to refresh the GenAI Summaries

  Boto3LayerArn:
    Default: ''
    Type: String
    Description: External Boto3 Layer Arn to use. If none is provided, one will be created automatically via boto3.template
    
  PyUtilsLayerArn:
    Default: ''
    Type: String
    Description: External PyUtils Layer Arn to use.

Conditions:
  isMainStackNameEmpty: !Equals [!Ref MainStackName, '']
  ShouldEnableGenAIQuery: !Not [!Equals [!Ref GenAIQueryType, 'DISABLED']]
  HasAnthropicQuery: !Equals [!Ref GenAIQueryType, "ANTHROPIC"]

Resources:
  DeployCount:
    Type: AWS::SSM::Parameter
    Properties:
      Type: String
      Value: "0"

  Web:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: lib/web.template
      TimeoutInMinutes: 20
      Parameters:
        AudioBucket: !Ref AudioBucket
        DataBucket: !Ref DataBucket

  Cognito:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: lib/cognito.template
      Parameters:
        AdminUsername: !Ref AdminUsername
        AdminEmail: !Ref AdminEmail
        WebUri: !GetAtt Web.Outputs.Uri
        Environment: !Ref Environment
        Name: 
          !If
          - isMainStackNameEmpty
          - !Ref AWS::StackName
          - !Ref MainStackName

  Indexer:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: lib/indexer.template
      Parameters:
        DataBucket: !Ref DataBucket
        DataPrefix: !Ref DataPrefix
        AudioBucket: !Ref AudioBucket
        AudioBucketPrefix: !Ref AudioBucketPrefix

  Api:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: lib/api.template
      Parameters:
        AudioBucket: !Ref AudioBucket
        AudioBucketPrefix: !Ref AudioBucketPrefix
        DataBucket: !Ref DataBucket
        TableName: !GetAtt Indexer.Outputs.TableName
        UserPoolId: !GetAtt Cognito.Outputs.UserPoolId
        GenAIQueryType: !Ref GenAIQueryType
        GenAIQueryBedrockModelId: !Ref GenAIQueryBedrockModelId
        LLMThirdPartyApiKey: !Ref LLMThirdPartyApiKey
        FetchTranscriptArn: !Ref FetchTranscriptArn
        SummarizerArn: !Ref SummarizerArn
        Boto3LayerArn: !Ref Boto3LayerArn
        PyUtilsLayerArn: !Ref PyUtilsLayerArn

  Deploy:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: lib/deploy.template
      Parameters:
        Bucket: !GetAtt Web.Outputs.Bucket
        AudioBucket: !Ref AudioBucket
        AuthUri: !GetAtt Cognito.Outputs.BaseUri
        AuthClientId: !GetAtt Cognito.Outputs.UserPoolClientId
        ApiUri: !GetAtt Api.Outputs.Uri
        DeployCountName: !Ref DeployCount
        DeployCountValue: !Ref DeployCount
        # DistributionId: !GetAtt Web.Outputs.DistributionId
        EnableGenAIQuery: !If 
          - ShouldEnableGenAIQuery
          - 'true'
          - 'false'

  WebUriParameter:
    Type: "AWS::SSM::Parameter"
    Properties:
      Name: WebUiUri
      Type: String
      Value: !GetAtt Web.Outputs.Uri
      Description: PCA Web Application URI

Outputs:
  DataBucket:
    Value: !Ref DataBucket

  AudioBucket:
    Value: !Ref AudioBucket

  WebBucket:
    Value: !GetAtt Web.Outputs.Bucket

  AuthUri:
    Value: !GetAtt Cognito.Outputs.BaseUri

  AuthClientId:
    Value: !GetAtt Cognito.Outputs.UserPoolClientId

  ApiUri:
    Value: !GetAtt Api.Outputs.Uri

  WebUri:
    Value: !GetAtt Web.Outputs.Uri

  RolesForKMSKey:
    Value: !Join
      - ', '
      - - !Sub '${Api.Outputs.RolesForKMSKey}'
        - !Sub '${Indexer.Outputs.RolesForKMSKey}'
        - !Sub '${Deploy.Outputs.RolesForKMSKey}'
        - !Sub '${Web.Outputs.RolesForKMSKey}'