# Local development
node_modules
build
/pca-ui/src/www/public/config.js
/sample-data
.vscode
.idea
/pca-ui/src/witch/witch.zip
/pca-ui/src/lambda/json-to-docx/json-to-docx.zip
/pca-ui/src/utils/start_codebuild
