AWSTemplateFormatVersion: "2010-09-09"

Description: Amazon Transcribe Post Call Analytics - PCA Server - DDBTable

Resources:
  Table:
    Type: "AWS::DynamoDB::Table"
    Properties:
      KeySchema:
        - AttributeName: PKJobId
          KeyType: HASH
      AttributeDefinitions:
        - AttributeName: PKJobId
          AttributeType: S
      BillingMode: PAY_PER_REQUEST

Outputs:
  TableName:
    Value: !Ref Table
