@font-face {
    font-family: AmazonEmber;
    src: url("fonts/AmazonEmber_Lt.woff");
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

html {
    display: flex;
    background: #333;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: AmazonEmber, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #222a333;
    background: #f3f3f3;
    min-width: 75%;
    min-height: 100vh;
    margin: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    body {
        min-width: 100%;
    }
}

header {
    display: flex;
    align-items: center;
    background: #222a33;
    color: white;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 0 0.5em;
}

header img {
    max-width: 3em;
    padding-right: 1em;
}

body > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}

body > div > nav {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    background: #89a;
    padding: 0;
    color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: 1em 0;
}

body > div > nav a {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 1em;
    text-align: center;
}

body > div > nav a:hover {
    background: #4ac;
    text-decoration: none;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 1em;
    padding: 0;
}

main > * {
    display: none;
    flex-direction: column;
    padding: 0 0.5em;
}

section {
    background: white;
    background: white;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 1em;
    margin: 1em 0;
}

row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

row > * {
    margin: 0 0.5em;
}

canvas {
    max-width: 30em;
}

a {
    color: #66f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2 {
    font-weight: bold;
}

h1 {
    margin: 0.25em;
}

h2 {
    font-size: 125%;
    margin: 1em 0 0.5em 0;
}

h2:first-child {
    margin-top: 0;
}

#loading {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    font-size: 200%;
}

.loading {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.loading::after {
    content: "";
    border: 0.25em solid #eee;
    border-top: 0.25em solid #ff9900;
    border-radius: 50%;
    width: 0.25em;
    height: 0.25em;
    animation: spin 1s linear infinite;
    margin-left: 1em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.list tbody > tr:hover {
    cursor: pointer;
    background: #eef !important;
}

.list tbody > tr:nth-child(2n) {
    background: rgba(136, 153, 170, 0.2);
}

section > table {
    width: 100%;
}

main table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

main table td {
    padding: 0 0.25em;
}

main table thead,
main table th {
    text-align: left;
    font-weight: bold;
}

main table tbody > th {
    background: #d9e9f2;
    font-weight: bold;
}

span.medium {
    cursor: pointer;
    text-decoration: underline;
}

span.low {
    cursor: pointer;
    color: #f00;
    text-decoration: underline;
}

span.pii {
    text-decoration: line-through;
    color: #666;
    font-style: oblique;
}

footer {
    text-align: right;
    margin: 0.5em;
}

audio {
    filter: invert(100%);
    border-radius: 1.5em;
}

button.small {
    margin: 0;
    padding: 0 0.25em;
    display: inline;
    border: 0;
    background: #999;
    color: #161e2d;
    border-radius: 0.25em;
}

button.small:hover {
    background: #ddd;
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.icon {
    max-width: 1.5em;
    vertical-align: middle;
    font-weight: bold;
}

#detail td {
    overflow-wrap: anywhere;
}

#detail_data > row {
    margin: 1.5em 0;
}

#detail_data > row > div > p {
    margin: 0;
}

#detail_data .entity {
    cursor: pointer;
}

#entites {
    margin: 0;
    padding: 0;
}

#entities > span {
    border-radius: 0.25em;
    background: #ddedf1;
    padding: 0.25em 0.5em;
    margin: 0 1em 0 0;
}

#entities > span:hover {
    background: #cddde1;
    cursor: pointer;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.neutral {
    color: grey;
}

#search_selected_entities span {
    background: #def;
    border: 1px solid #abc;
    display: inline-block;
    margin: 0.25em 0.5em;
    padding: 0 0.25em;
    cursor: pointer;
}

#search_selected_entities span:hover {
    text-decoration: line-through;
}

main nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

main nav button {
    background: #def;
    border: 1px solid #abc;
    border-radius: 0.25em;
    padding: 0.25em 1em;
    margin: 0;
}

main nav button:enabled:hover {
    background: #abc;
    cursor: pointer;
    text-decoration: none;
}
